<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lunasoft.mapper.StatisticsMapper">

    <select id="getStat1" resultType="StatisticsInfo">
        <![CDATA[
        SELECT
            s1.*
        FROM
            (SELECT
                 t1.mall_id,
                 t1.mall_name,
                 CONCAT(#{startDate}, ' ~ ', #{endDate}) as stat_date,
                 IFNULL(t2.register_cnt, 0) as register_cnt,
                 IFNULL(t3.modify_cnt, 0) as modify_cnt,
                 (IFNULL(t2.register_cnt, 0) + IFNULL(t3.modify_cnt, 0)) as total_cnt
             FROM
                 db_admin.tb_mall_info t1
                     LEFT OUTER JOIN
                 (SELECT mall_id, count(1) as register_cnt
                  FROM db_product_link_service.tb_mall_smartstore_product_info
                  WHERE date_format(product_register_date,'%Y%m%d') >= #{startDate}
                    AND date_format(product_register_date,'%Y%m%d') <= #{endDate}
                  GROUP BY mall_id) t2
                 ON t1.mall_id = t2.mall_id
                     LEFT OUTER JOIN
                 (SELECT mall_id, count(1) as modify_cnt
                  FROM db_product_link_service.tb_mall_smartstore_product_info
                  WHERE date_format(product_modify_date,'%Y%m%d') >= #{startDate}
                    AND date_format(product_modify_date,'%Y%m%d') <= #{endDate}
                  GROUP BY mall_id) t3
                 ON t1.mall_id = t3.mall_id) s1
        WHERE s1.total_cnt != 0
        ORDER BY s1.total_cnt DESC
        ]]>
    </select>

    <select id="getStat2" resultType="StatisticsInfo">
        <![CDATA[
        SELECT
            s1.*
        FROM
            (SELECT
                 t1.mall_id,
                 t1.mall_name,
                 #{statDate} as stat_date,
                 IFNULL(t2.register_cnt, 0) as register_cnt,
                 IFNULL(t3.modify_cnt, 0) as modify_cnt,
                 (IFNULL(t2.register_cnt, 0) + IFNULL(t3.modify_cnt, 0)) as total_cnt
             FROM
                 db_admin.tb_mall_info t1
                     LEFT OUTER JOIN
                 (SELECT mall_id, count(1) as register_cnt
                  FROM db_product_link_service.tb_mall_smartstore_product_info
                  WHERE date_format(product_register_date,'%Y%m%d') = #{statDate}
                  GROUP BY mall_id) t2
                 ON t1.mall_id = t2.mall_id
                     LEFT OUTER JOIN
                 (SELECT mall_id, count(1) as modify_cnt
                  FROM db_product_link_service.tb_mall_smartstore_product_info
                  WHERE date_format(product_modify_date,'%Y%m%d') = #{statDate}
                  GROUP BY mall_id) t3
                 ON t1.mall_id = t3.mall_id) s1
        WHERE s1.total_cnt != 0
        ORDER BY s1.total_cnt DESC
        ]]>
    </select>

</mapper>